header{
    position: relative;
    background-color: white;
    padding: 0;
    border-bottom: 1px solid green;

}

a{

color: rgb(104, 151, 33);
}

a:hover{
background: rgb(121, 228, 130);
color: white;
cursor: pointer;
}

b{

    color: rgb(74, 95, 42);
    }
    
 
.container{
margin: 0 auto;
display: flex;

}

a.logo{
    font-weight: bold;
    padding: 1rem;

}